<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .full-height {
            height: 100%;
        }
        .sidebar {
            background-color: #343a40;
            color: white;
        }
        .sidebar a {
            color: white;
        }
        .content {
            padding: 20px;
        }
    </style>
</head>
<body>

<div class="container-fluid full-height">
    <div class="row full-height">
        <nav class="col-2 sidebar d-flex flex-column vh-100">
            <h2 class="text-center">Lanchonete Rainha do Hamburger</h2>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shippings}">Historico de Entrega</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/active-orders}">Pedidos Ativos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/past-orders}">Historico de Pedidos</a>
                </li>
            </ul>
        </nav>
        <main class="col-10 content">
            <div class="container">
                <h1>Produtos</h1>
                <input class="form-control mb-3" type="text" placeholder="Nome ou valor a ser pesquisado">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Valor</th>
                        <th>Data e Hora</th>
                        <th>Items</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="order : ${listOrder}">
                        <tr>
                            <td>[[${order.id}]]</td>
                            <td>[[${order.valor}]]</td>
                            <td>[[${order.moment}]]</td>
                            <td>
                                <ul>
                                    <th:block th:each="item : ${order.getItems()}">
                                        <li>[[${item.getProduct().getName()}]]</li>
                                    </th:block>
                                </ul>
                            </td>
                            <td>[[${order.orderStatus}]]</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

</body>
</html>

