<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .full-height {
            height: 100%;
        }
        .sidebar {
            background-color: #343a40;
            color: white;
        }
        .sidebar a {
            color: white;
        }
        .content {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container-fluid full-height">
    <div class="row full-height">
        <nav class="col-2 sidebar d-flex flex-column vh-100">
            <h2 class="text-center">Lanchonete Rainha do Hamburger</h2>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shippings}">Historico de Entrega</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/active-orders}">Pedidos Ativos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/past-orders}">Historico de Pedidos</a>
                </li>
            </ul>
        </nav>
        <main class="col-10 content">
            <div class="container">
                <h1>Historico de Entregas</h1>
                <input class="form-control mb-3" type="text" placeholder="Nome ou valor a ser pesquisado">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Endereço</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Id do Pedido</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="shipping : ${listShipping}">
                        <tr>
                            <td th:text="${shipping.adress}"></td>
                            <td th:text="${shipping.city}"></td>
                            <td th:text="${shipping.state}"></td>
                            <td th:text="${shipping.order.id}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
</body>
</html>

