<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Gerenciar Produtos</h2></div>
    <br>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="product : ${listProducts}">
                <tr>
                    <td>[[${product.name}]]</td>
                    <td>[[${product.description}]]</td>
                    <td>[[${product.price}]]</td>
                </tr>
                <td>
                    <a class="h4 mr-3" th:href="@{'/product/edit/' + ${product.id}}">Edit</a>
                    <a class="h4" th:href="@{'/product/delete/' + ${product.id}}">Delete</a>
                </td>
            </th:block>

            </tbody>
        </table>
        <br>

        <div class="m-2">
            <a class="h3" th:href="@{/products/new}">Adicionar Novo Produto</a>
        </div>


    </div>
</div>
</body>
</html>