<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Confirmation</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1>Order Confirmation</h1>
    <div th:if="${order != null}">
        <h2>Order ID: <span th:text="${order.id}"></span></h2>
        <h3>Total Price: R$ <span th:text="${order.valor}"></span></h3>
        <h4>Order Items:</h4>
        <ul>
            <li th:each="item : ${order.items}">
                <p>Product: <span th:text="${item.product.name}"></span></p>
                <p>Quantity: <span th:text="${item.quantity}"></span></p>
                <p>Unit Price: R$ <span th:text="${item.price}"></span></p>
            </li>
        </ul>
    </div>
    <a href="/menu" class="btn btn-primary">Back to Menu</a>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
